.titolo {
    text-align: center;
}
.container {
    min-height: 800px;
    width: 1000PX;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
}
.box {
    height: 150px;
    width: 266px;
    text-align: center;
    background-color: pink;
    border: 1px solid;
    border-radius: 15px;
}
.ss {
    width: 80%;
    height: 3px;
    color: black;
    background-color: black;
}
.tt {
    width: 80%;
    height: 2px;
    background-color: black;
    color: black;
}