.titolo {
    text-align: center;
    background-color: rgb(171, 122, 130);
}
.container {
    min-height: 600px;
    border: solid;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box {
    height: 150px;
    width: 266px;
    text-align: center;
    background-color: pink;
}